#marathon-games {
  background: rgba(0,0,0, 0.8);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 95;
}

#marathon-games-minimize {
  background: url('img/game-minimize.png') no-repeat center;
  display: block;
  height: 32px;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 32px;
}

.marathon-game-preview {
  border: 2px solid #CCCCCC;
  font-family: Arial;
  height: 360px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 480px;
}

.marathon-game-preview > * {
  position: relative;
  z-index: 5;
}

.marathon-game-preview .marathon-game-bg {
  background: url('img/game-preview.png') no-repeat center;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.marathon-game-preview .marathon-game-title {
  font-size: 36px;
  margin-top: -1.5em;
  padding-top: 100px;
}

.marathon-game-preview .marathon-game-play-button {
  position: absolute;
  top: 60%;
  width: 100%;
}

.marathon-game-preview .marathon-game-play-button a {
  background: none repeat scroll 0 0 #E2351C;
  border: 1px solid #EEEEEE;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 10px #000000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.marathon-game {
  font-family: Arial;
  height: 750px;
  margin: 0 auto;
  padding-bottom: 15px;
  position: relative;
}

.marathon-game > img {
  display: block;
  max-height: 100%;
}

.marathon-game .step {
  height: 25px;
  position: absolute;
  width: 25px;
}

.marathon-game .player {
  background: url("img/players.png") no-repeat 0 0;
  height: 30px;
  margin-bottom: 7px;
  margin-left: -2px;
  margin-top: -23px;
  position: relative;
  top: 50%;
  width: 30px;
}

.marathon-game .player-1 {
  background-position: 0 0;
}

.marathon-game .player-2 {
  background-position: 0 -30px;
}

.marathon-game .player-3 {
  background-position: 0 -60px;
}

.marathon-game .player-4 {
  background-position: 0 -90px;
}


.marathon-game-results {
  background: url("img/winners-podium.png") no-repeat scroll center center transparent;
  height: 300px;
  position: relative;
  width: 415px;
}

.marathon-game-results .placed-player {
  border-radius: 25px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  top: 50px;
  width: 50px;
}

.marathon-game-results .placed-player.player-place-2 {
  margin-left: -160px;
  margin-top: 50px;
}
.marathon-game-results .placed-player.player-place-3 {
  margin-left: 110px;
  margin-top: 50px;
}

.marathon-game-results .placed-player.player-number-1 {
  background: red;
}
.marathon-game-results .placed-player.player-number-2 {
  background: blue;
}
.marathon-game-results .placed-player.player-number-3 {
  background: yellow;
}


/* CPanel */
.marathon-game .c-panel {
  background: #fff;
  border: 1px #ccc solid;
  bottom: 23px;
  font-size: 12px;
  min-width: 100px;
  position: absolute;
  right: 4px;
}

.marathon-game .c-panel.c-panel-disabled {
  opacity: 0.5;
}

.marathon-game .c-panel-link {
  border: 1px solid #CCCCCC;
  color: #000000;
  display: inline-block;
  font-size: 11px;
  padding: 0 3px;
  text-decoration: none;
}

.marathon-game .c-panel-link:hover {
  border-color: #999;
}

.marathon-game .c-panel-header {
  border-bottom: 1px #ccc solid;
  padding: 5px;
  position: relative;
}

.marathon-game .c-panel-actions {
  float: right;
  margin-left: 10px;
}

.marathon-game .c-panel-title {
  overflow: hidden;
  white-space: nowrap;
}

.marathon-game .c-panel-content {
  padding: 10px;
}

.marathon-game .c-panel-toolbar {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px solid #CCCCCC;
  bottom: 0;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  width: 100%;
}

.marathon-game .c-panel-toolbar .c-panel-wrapper {
  height: 16px;
  overflow: hidden;
  padding: 1px 0 1px 5px;
}

.marathon-game .c-panel-toolbar-message {
  height: 100%;
  overflow: hidden;
}

.marathon-game .c-panel-toolbar-message .c-panel-value {
  font-style: italic;
}

.marathon-game .c-panel-toolbar-actions {
  float: right;
  margin-left: 50px;
}

.marathon-game .c-panel-toolbar .c-panel-link {
  border: none;
  border-left: 1px solid #CCCCCC;
  color: #999;
  display: block;
  float: right;
}

.marathon-game .c-panel-toolbar .c-panel-link:hover {
  border-color: #CCCCCC;
  color: #000;
}

/* Messages */
.marathon-game .c-panel-message {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 2px solid #999999;
  font-size: 17px;
  left: 50%;
  min-width: 100px;
  position: absolute;
  top: 50%;
  white-space: nowrap;

  -webkit-box-shadow: 0 0 10px #323232;
  -moz-box-shadow:    0 0 10px #323232;
  box-shadow:         0 0 10px #323232;
}

.marathon-game .c-panel-message-content {
  padding: 0 20px 20px;
}

.marathon-game .c-panel-message-header {
  padding: 5px;
}

.marathon-game .c-panel-message-actions {
  font-size: 12px;
  text-align: right;
}


/* CPanel forms */
.marathon-game .c-panel-form-item {
  margin-bottom: 15px;
}

.marathon-game .c-panel-form-item:last-child {
  margin-bottom: 0;
}

.marathon-game .c-panel-label {
  margin-right: 5px;
}

.marathon-game .c-panel-submit {
  background: url("img/icon-enter.png") no-repeat scroll center center transparent;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  height: 48px;
  text-indent: -100em;
  vertical-align: super;
  width: 48px;
}

/* Form: Start the game */
.marathon-game .c-panel-form-start-game {
  text-align: center;
  padding: 5px 0;
}

.marathon-game .c-panel-person {
  background: url("img/person.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 48px;
  vertical-align: top;
  width: 48px;
}

.marathon-game .c-panel-form-start-game .c-panel-input-text {
  font-size: 24px;
  font-weight: bold;
  margin: 0 5px;
  text-align: center;
  width: 35px;
}

/* Form: Player's turn */
.marathon-game .c-panel-dice {
  background: url("img/dice.png") no-repeat scroll center center transparent;
  border: medium none;
  cursor: pointer;
  display: inline-block;
  height: 48px;
  text-indent: -100em;
  width: 48px;
}

.marathon-game .c-panel-form-number-from-dice .c-panel-input-text {
  font-size: 24px;
  font-weight: bold;
  margin: 0 5px 0 10px;
  text-align: center;
  vertical-align: middle;
  width: 35px;
}

.marathon-game .c-panel-form-number-from-dice .c-panel-form-item:first-child {
  text-align: center;
}

.marathon-game .c-panel-form-number-from-dice .c-panel-form-item > a:first-child {
  margin-right: 10px;
}
