#morning-till-evening-preview .marathon-game-bg {
  background-image: url('img/preview.jpg');
}

#morning-till-evening {
  width: 1040px;
  height: 750px;
}

#morning-till-evening .step {
  height: 25px;
  width: 25px;
}

#morning-till-evening .step-start {
  height: 40px;
  width: 120px;
}

#morning-till-evening .step-start .player {
  float: left;
  margin: -5px -10px 0 0;
  position: static;
}

#morning-till-evening .step-finish {
  height: 30px;
  width: 30px;
}

#morning-till-evening .step-0 {
  left: 54px;
  top: 683px;
}

#morning-till-evening .step-1 {
  left: 208px;
  top: 704px;
}

#morning-till-evening .step-2 {
  left: 275px;
  top: 682px;
}

#morning-till-evening .step-3 {
  left: 341px;
  top: 670px;
}

#morning-till-evening .step-4 {
  left: 413px;
  top: 682px;
}

#morning-till-evening .step-5 {
  left: 546px;
  top: 703px;
}

#morning-till-evening .step-6 {
  left: 622px;
  top: 685px;
}

#morning-till-evening .step-7 {
  left: 677px;
  top: 687px;
}

#morning-till-evening .step-8 {
  left: 739px;
  top: 686px;
}

#morning-till-evening .step-9 {
  left: 813px;
  top: 691px;
}

#morning-till-evening .step-10 {
  left: 890px;
  top: 705px;
}

#morning-till-evening .step-11 {
  left: 979px;
  top: 702px;
}

#morning-till-evening .step-12 {
  left: 978px;
  top: 598px;
}

#morning-till-evening .step-13 {
  left: 877px;
  top: 603px;
}

#morning-till-evening .step-14 {
  left: 808px;
  top: 577px;
}

#morning-till-evening .step-15 {
  left: 730px;
  top: 599px;
}

#morning-till-evening .step-16 {
  left: 649px;
  top: 572px;
}

#morning-till-evening .step-17 {
  left: 582px;
  top: 599px;
}

#morning-till-evening .step-18 {
  left: 514px;
  top: 575px;
}

#morning-till-evening .step-19 {
  left: 357px;
  top: 595px;
}

#morning-till-evening .step-20 {
  left: 292px;
  top: 576px;
}

#morning-till-evening .step-21 {
  left: 207px;
  top: 560px;
}

#morning-till-evening .step-22 {
  left: 131px;
  top: 576px;
}

#morning-till-evening .step-23 {
  left: 66px;
  top: 576px;
}

#morning-till-evening .step-24 {
  left: 97px;
  top: 485px;
}

#morning-till-evening .step-25 {
  left: 215px;
  top: 440px;
}

#morning-till-evening .step-26 {
  left: 272px;
  top: 464px;
}

#morning-till-evening .step-27 {
  left: 321px;
  top: 463px;
}

#morning-till-evening .step-28 {
  left: 388px;
  top: 466px;
}

#morning-till-evening .step-29 {
  left: 453px;
  top: 464px;
}

#morning-till-evening .step-30 {
  left: 584px;
  top: 480px;
}

#morning-till-evening .step-31 {
  left: 655px;
  top: 467px;
}

#morning-till-evening .step-32 {
  left: 722px;
  top: 467px;
}

#morning-till-evening .step-33 {
  left: 783px;
  top: 467px;
}

#morning-till-evening .step-34 {
  left: 849px;
  top: 449px;
}

#morning-till-evening .step-35 {
  left: 913px;
  top: 470px;
}

#morning-till-evening .step-36 {
  left: 936px;
  top: 409px;
}

#morning-till-evening .step-37 {
  left: 900px;
  top: 361px;
}

#morning-till-evening .step-38 {
  left: 773px;
  top: 362px;
}

#morning-till-evening .step-39 {
  left: 708px;
  top: 360px;
}

#morning-till-evening .step-40 {
  left: 623px;
  top: 329px;
}

#morning-till-evening .step-41 {
  left: 546px;
  top: 327px;
}

#morning-till-evening .step-42 {
  left: 396px;
  top: 314px;
}

#morning-till-evening .step-43 {
  left: 322px;
  top: 324px;
}

#morning-till-evening .step-44 {
  left: 267px;
  top: 322px;
}

#morning-till-evening .step-45 {
  left: 193px;
  top: 340px;
}

#morning-till-evening .step-46 {
  left: 95px;
  top: 306px;
}

#morning-till-evening .step-47 {
  left: 54px;
  top: 186px;
}

#morning-till-evening .step-48 {
  left: 137px;
  top: 186px;
}

#morning-till-evening .step-49 {
  left: 218px;
  top: 132px;
}

#morning-till-evening .step-50 {
  left: 299px;
  top: 186px;
}

#morning-till-evening .step-51 {
  left: 377px;
  top: 197px;
}

#morning-till-evening .step-52 {
  left: 446px;
  top: 197px;
}

#morning-till-evening .step-53 {
  left: 580px;
  top: 200px;
}

#morning-till-evening .step-54 {
  left: 675px;
  top: 190px;
}

#morning-till-evening .step-55 {
  left: 774px;
  top: 190px;
}

#morning-till-evening .step-56 {
  left: 829px;
  top: 189px;
}

#morning-till-evening .step-57 {
  left: 879px;
  top: 188px;
}

#morning-till-evening .step-58 {
  left: 980px;
  top: 212px;
}

#morning-till-evening .step-59 {
  left: 978px;
  top: 113px;
}

#morning-till-evening .step-60 {
  left: 949px;
  top: 65px;
}

#morning-till-evening .step-61 {
  left: 899px;
  top: 66px;
}

#morning-till-evening .step-62 {
  left: 742px;
  top: 69px;
}

#morning-till-evening .step-63 {
  left: 716px;
  top: 70px;
}

#morning-till-evening .step-64 {
  left: 656px;
  top: 87px;
}

#morning-till-evening .step-65 {
  left: 564px;
  top: 90px;
}

#morning-till-evening .step-66 {
  left: 444px;
  top: 85px;
}

#morning-till-evening .step-67 {
  left: 372px;
  top: 86px;
}

#morning-till-evening .step-68 {
  left: 290px;
  top: 87px;
}

#morning-till-evening .step-69 {
  left: 219px;
  top: 87px;
}

#morning-till-evening .step-70 {
  left: 81px;
  top: 91px;
}
